# Server
PORT=3000

# PostgreSQL
DATABASE_URL=postgres://postgres:clic03@localhost:5432/review

# Admin key used by x-admin-key header
ADMIN_SECRET=kjsJJKDC987CHJAKSC7CHBSCCN$$SHJabcabcusG9HdJhbscjh4aBUndtkmdIMF93dJGDBdvCjJDJ32ob
